<ion-content [fullscreen]="true">

  <body
    style="background: url('./assets/wall.jpg'); background-size: cover; background-position: center center; position: fixed; width: 100%; height: 100%; overflow-y: scroll;">
    <br>
    <h2 style="margin-left: 20px;"><b>Alur Pencairen Fee</b></h2>
    <br>
    <i><ion-label
        style="background-color: green; border-radius: 5px; padding: 6px; color: white; margin-left: 5px;">Data
        Pendaftaran</ion-label></i>
    <ul class="milestones milestones-bordered-bottom">
      <li>
        <i class="milestone-primary glyphicon"><ion-icon name="person"
            style="width: 15.5px; height: 15.5px;"></ion-icon></i>
        <div class="panel panel-success">
          <ul class="list-group">
            <li class="list-group-item" style="border-color: gray; background-color: gainsboro;">
              <p style="margin-top: 15px;"><b style="color: royalblue;">Pengecekkan Nominal Fee Pendaftaran</b> dapat
                dicek melalui menu <b>data
                  pendaftaran.</b></p>
            </li>
            <li class="list-group-item" style="border-color: gray; background-color: gainsboro;">
              <p style="margin-top: 15px;">Pastikan terdapat jumlah fee pendaftaran.</p>
            </li>
          </ul>
        </div>
      </li>
      <i><ion-label
          style="background-color: green; border-radius: 5px; padding: 6px; color: white; margin-left: -25px;">Konfirmasi
          Ke Bagian BAUM</ion-label></i>
      <li>
        <i class="milestone-primary glyphicon"><ion-icon name="person"
            style="width: 15.5px; height: 15.5px;"></ion-icon></i>
        <div class="panel panel-success">
          <ul class="list-group">
            <li class="list-group-item" style="border-color: gray; background-color: gainsboro;">
              <p style="margin-top: 15px;"><b style="color: royalblue;">BAUM,</b> silahkan untuk konfirmasi dengan
                menunjukkan daftar dengan status
                <b style="color: royalblue;">"Verifikasi Pendaftaran Ok."</b>
              </p>
            </li>
          </ul>
        </div>
      </li>
      <i><ion-label
          style="background-color: red; border-radius: 5px; padding: 6px; color: white; margin-left: -25px;">Proses
          Pencairan Fee Selesai</ion-label></i>
    </ul>
  </body>
  <style>
    @media only screen and (max-width: 600px) {
      body {
        background-size: contain;
      }
    }
  </style>
</ion-content>