<ion-content [fullscreen]="true">

  <body
    style="background: url('./assets/wall.jpg'); background-size: cover; background-position: center center; position: fixed; width: 100%; height: 100%; overflow-y: scroll;">
    <br>
    <h2 style="margin-left: 20px;"><b>Alur PMB</b></h2>
    <br>
    <i><ion-label
        style="background-color: green; border-radius: 5px; padding: 6px; color: white; margin-left: 5px;">Pendaftaran</ion-label></i>
    <ul class="milestones milestones-bordered-bottom">
      <li>
        <i class="milestone-primary glyphicon"><ion-icon name="person"
            style="width: 15.5px; height: 15.5px;"></ion-icon></i>
        <div class="panel panel-success">
          <ul class="list-group">
            <li class="list-group-item" style="border-color: gray; background-color: gainsboro;">
              <p style="margin-top: 15px;"><b style="color: royalblue;">Kegiatan Pendaftaran</b> dapat dilakukan mulai
                <b>tanggal 2 Januari s/d 31
                  Agustus 2024.</b>
              </p>
            </li>
            <li class="list-group-item" style="border-color: gray; background-color: gainsboro;">
              <p style="margin-top: 15px;">Biaya pendaftaran sebesar Rp.300.000,00.</p>
            </li>
          </ul>
        </div>
      </li>
      <i><ion-label
          style="background-color: green; border-radius: 5px; padding: 6px; color: white; margin-left: -25px;">Mengikuti
          Tes Potensi Akademik dan Wawancara</ion-label></i>
      <li>
        <i class="milestone-primary glyphicon"><ion-icon name="person"
            style="width: 15.5px; height: 15.5px;"></ion-icon></i>
        <div class="panel panel-success">
          <ul class="list-group">
            <li class="list-group-item" style="border-color: gray; background-color: gainsboro;">
              <p style="margin-top: 15px;"><b style="color: royalblue;">Tes Potensi Akademik (TPA)</b> kegiatan ini
                dilakukan untuk mengetahui
                kompetensi pengetahuan umum dimana ada
                3 jenis pertanyaan diantaranya adalah pertanyaan <b>logika, matematika dan umum,</b> <b
                  style="color: royalblue;">TPA</b> dilakukan menggunakan
                berbasis komputer yang diselenggarakan offline/online. <b style="color: royalblue;">Wawancara</b>
                kegiatan
                ini dilakukan untuk mengetahui
                minat dan bakat calon mahasiswa.</p>
            </li>
          </ul>
        </div>
      </li>
      <i><ion-label
          style="background-color: green; border-radius: 5px; padding: 6px; color: white; margin-left: -25px;">Mengikuti
          Pengumuman Hasil TPA dan Melakukan Biaya Daftar Ulang</ion-label></i>
      <li>
        <i class="milestone-primary glyphicon"><ion-icon name="person"
            style="width: 15.5px; height: 15.5px;"></ion-icon></i>
        <div class="panel panel-success">
          <ul class="list-group">
            <li class="list-group-item" style="border-color: gray; background-color: gainsboro;">
              <p style="margin-top: 15px;"><b style="color: royalblue;">Kegiatan Daftar Ulang</b> bisa dilakukan secara
                <b>Online</b> atau
                <b>Offline.</b>
              </p>
            </li>
            <li class="list-group-item" style="border-color: gray; background-color: gainsboro;">
              <p style="margin-top: 15px;">Setelah ada pengumuman mengelai lolos atau tidaknya terhadap nilai TPA, maka
                calon mahasiswa yang
                <b>dinyatan lolos</b> bisa langsung melakukan kegiatan <b>daftar ulang.</b>
              </p>
            </li>
          </ul>
        </div>
      </li>
      <i><ion-label
          style="background-color: red; border-radius: 5px; padding: 6px; color: white; margin-left: -25px;">Mengikuti
          Melakukan Kegiatan Pra-Studi</ion-label></i>
      <li class="milestones-bordered-bottom">
        <i class="milestone-primary glyphicon"><ion-icon name="person"
            style="width: 15.5px; height: 15.5px;"></ion-icon></i>
        <div class="panel panel-success">
          <ul class="list-group">
            <li class="list-group-item" style="border-color: gray; background-color: gainsboro;">
              <p style="margin-top: 15px;"><b style="color: royalblue;">Pelaksanaan Kegiatan Pra-Studi</b> dilaksanakan
                di 1 lokasi.</p>
            </li>
            <li class="list-group-item" style="border-color: gray; background-color: gainsboro;">
              <p style="margin-top: 15px;">Fakultas Ekonomi dan Komputer dilaksanakan di <b>Gedung Kampus
                  Padjajaran.</b></p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </body>
  <style>
    @media only screen and (max-width: 600px) {
      body {
        background-size: contain;
      }
    }
  </style>
</ion-content>